* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0c1536;
    font-family: Helvetica;
    overflow-x: hidden;
}

#Titlebar {
    background: radial-gradient(circle, rgba(156,169,223,1) 27%, rgba(64,78,127,1) 52%, rgba(15,28,72,1) 75%, rgba(12,21,54,1) 86%);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #132154;
}

#tophtext {
    font-size: 55px;
    color: #0F1C48;
}

#bigimage {
    background-color: #0C1536;
    width: 70vw;
    max-width: 100%;
    height: 30vh;          /* fixed height relative to viewport */
    background-image: url(https://img.itch.zone/aW1nLzExNjQ1ODE4LnBuZw==/original/OQ613U.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; /* ensures image is visible and scaled */
    margin: 20px auto;
    position: relative;
}


#main {
    min-height: 2300px;
    background-color: #97a5dd;
    border: 7px solid #132154;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blurb {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 200px;
    line-height: 2;
    font-size: 22px;
    font-weight: bold;
}

#mark {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

#levels {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

.level {
    width: 45%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic {
    width: 100%;
    height: auto;        /* base height from width */
    aspect-ratio: 2 / 1; /* keeps 2:1 ratio */
    object-fit: cover;    /* fills box without stretching */
    border: 7px solid #132154;
    margin-top: 10px;
}


.name, .desc {
    margin: 0;
    margin-top: 10px;
    color: #132154;
    text-align: center;
}

.mode-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.switch {
    height: 30px;
    width: 120px;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid #192c70;
    border-radius: 10px;
    opacity: 0.6;
    transition: 0.15s;
    cursor: pointer;
}

.switch.active {
    opacity: 1;
    transform: scale(1.05);
}

.standard {
    background-color: #2c74e8;
    color: #a8cef0;
}

.encore {
    background-color: #d45637;
    color: #e3afa1;
    border-color: #f75931;
}

.code {
    margin-top: 15px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    color: #97A5DD;
    background-color: #0b112a;
    border: 4px solid #192c70;
    border-radius: 10px;
    cursor: pointer;
}

.tooltip {
    visibility: hidden;
    margin-top: 10px;
    background-color: #3a3a3a;
    opacity: 0.6;
    color: white;
    padding: 7px;
    border-radius: 6px;
}
